<h1>@ViewBag.Candidato.Nombre</h1> 
<h1>@ViewBag.Candidato.Apellido</h1>
  <img src="@ViewBag.Candidato.Foto" alt="">
  <h3>Fecha de fundación: @ViewBag.Candidato.FechaNacimiento</h3>
  <h4>Cantidad diputados: @ViewBag.Candidato.Postulacion</h4>
